<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geostar.georobox.management.module.plugmanage.dao.PlugAndCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.geostar.georobox.management.module.plugmanage.model.PlugAndCategory" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="PLUG_ID" property="plugId" jdbcType="VARCHAR" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>