<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geostar.georobox.management.module.score.dao.ScoreBeanMapper" >
  <resultMap id="BaseResultMap" type="com.geostar.georobox.management.module.score.model.ScoreBean" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_INFO" property="userInfo" jdbcType="VARCHAR" />
    <result column="MODE_INFO" property="modeInfo" jdbcType="VARCHAR" />
    <result column="APP_INFO" property="appInfo" jdbcType="VARCHAR" />
    <result column="BODY" property="body" jdbcType="VARCHAR" />
    <result column="STAR_SCORE" property="starScore" jdbcType="VARCHAR" />
    <result column="TAG" property="tag" jdbcType="VARCHAR" />
    <result column="IMAGE_URL" property="imageUrl" jdbcType="VARCHAR" />
    <result column="OTHER_INFO" property="otherInfo" jdbcType="VARCHAR" />
    <result column="DATETIME" property="datetime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>