<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geostar.georobox.management.module.openfire.dao.ImRemindBeanMapper">
  <resultMap id="BaseResultMap" type="com.geostar.georobox.management.module.openfire.model.ImRemindBean">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="OTHER_USER_ID" jdbcType="VARCHAR" property="otherUserId" />
    <result column="OTHER_ROOM_ID" jdbcType="VARCHAR" property="otherRoomId" />
    <result column="IS_REMIND" jdbcType="VARCHAR" property="isRemind" />
    <result column="DATETIME" jdbcType="TIMESTAMP" property="datetime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.geostar.georobox.management.module.openfire.model.ImRemindBean">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="OTHER_USER_ID" jdbcType="VARCHAR" property="otherUserId" />
    <result column="OTHER_ROOM_ID" jdbcType="VARCHAR" property="otherRoomId" />
    <result column="IS_REMIND" jdbcType="VARCHAR" property="isRemind" />
    <result column="DATETIME" jdbcType="TIMESTAMP" property="datetime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.geostar.georobox.management.module.openfire.model.ImRemindBean">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="OTHER_USER_ID" jdbcType="VARCHAR" property="otherUserId" />
    <result column="OTHER_ROOM_ID" jdbcType="VARCHAR" property="otherRoomId" />
    <result column="IS_REMIND" jdbcType="VARCHAR" property="isRemind" />
    <result column="DATETIME" jdbcType="TIMESTAMP" property="datetime" />
  </resultMap>
</mapper>