<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geostar.georobox.management.module.apkup.dao.ApkDownloadBeanMapper">
  <resultMap id="BaseResultMap" type="com.geostar.georobox.management.module.apkup.model.ApkDownloadBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="VERSION_ID" jdbcType="VARCHAR" property="versionId" />
    <result column="USER_INFO" jdbcType="VARCHAR" property="userInfo" />
    <result column="MODE_INFO" jdbcType="VARCHAR" property="modeInfo" />
    <result column="OTHER_INFO" jdbcType="VARCHAR" property="otherInfo" />
    <result column="DATETIME" jdbcType="TIMESTAMP" property="datetime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.geostar.georobox.management.module.apkup.model.ApkDownloadBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="VERSION_ID" jdbcType="VARCHAR" property="versionId" />
    <result column="USER_INFO" jdbcType="VARCHAR" property="userInfo" />
    <result column="MODE_INFO" jdbcType="VARCHAR" property="modeInfo" />
    <result column="OTHER_INFO" jdbcType="VARCHAR" property="otherInfo" />
    <result column="DATETIME" jdbcType="TIMESTAMP" property="datetime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.geostar.georobox.management.module.apkup.model.ApkDownloadBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="INFO_USER" jdbcType="VARCHAR" property="infoUser" />
    <result column="INFO_BACK" jdbcType="VARCHAR" property="infoBack" />
    <result column="INFO_BACK_URL" jdbcType="VARCHAR" property="infoBackUrl" />
    <result column="INFO_MODE" jdbcType="VARCHAR" property="infoMode" />
    <result column="INFO_APPINFO" jdbcType="VARCHAR" property="infoAppinfo" />
    <result column="INFO_OTHER" jdbcType="VARCHAR" property="infoOther" />
    <result column="DATETIME" jdbcType="TIMESTAMP" property="datetime" />
  </resultMap>
</mapper>